<% include ../common/layout.html %>


<div class="page-container js-page-container" id="page-container">
  <div class="page l-course">
  	<header class="course-header js-course-header">
  		<div class="l-container">

  		</div>
  	</header>
  	<div class="l-container">
  		<section class="course js-course" data-name="Elementary Psychology" data-created="1.354528103e+12"
  		data-network_id="1" data-founder_id="59" data-type="null" data-id="3272"
  		data-len_files="212" data-len_members="17">
  			<section class="course-posts js-course-posts">
  				<ol class="create-content-errors js-add-post-errors">
  				</ol>
  				<form class="add-post create-post-content js-add-post">
  					<textarea placeholder="Write a post..." autocomplete="off" style="overflow: hidden; word-wrap: break-word; resize: none; height: 34px;">
  					</textarea>
  					<a class="file-upload-link js-file-upload-link" href="#">
  						<i class="icon-paper-clip js-file-upload-icon" original-title="attach notes, past exams, or other materials">
  						</i>
  					</a>
  					<i class="icon-question-sign js-formatting-help" original-title="formatting help">
  					</i>
  					<div class="create-post-content-controls">
  						<label>
  							<input class="js-anonymous" type="checkbox" name="anonymous">
  							anonymous
  						</label>
  						<button class="button-success button-mini js-save">
  							post
  						</button>
  						<a class="js-cancel" href="#">
  							cancel
  						</a>
  						<div class="clearfix">
  						</div>
  					</div>
  					<input class="js-upload-file-input" type="file" name="file" multiple="">
  					<!-- Attached Files -->
  					<ul class="attached-files js-attached-files">
  						<div class="clearfix">
  						</div>
  					</ul>
  				</form>
  				<a class="show-more js-show-more" href="#">
  					show more
  				</a>
  				<ol class="posts js-posts">
  					<li class="post js-post" data-deleted="null" data-anonymous="false" data-course_id="3272"
  					data-id="28374" data-created="1.40035398e+12" data-mobile="false" data-unanonymized_author_id="17027"
  					data-modified="1.40035398e+12" data-comment_count="null" data-score="0"
  					data-author_id="17027">
  						<ol class="create-content-errors js-edit-post-errors">
  						</ol>
  						<div class="post-author js-post-author">
  							<a class="avatar avatar-large" href="http://localdocker:54615/profile/klkln">
  								<img class="avatar-image" src="http://localdocker:54615/common/img/default_large_avatar.png">
  							</a>
  						</div>
  						<div class="post-revision js-post-revision" data-body="if the textbook for this class is the same, i'm willing to sell my binder version. my binder version is still brand new and hasn't been opened. because of that, i'm selling it for $90. i used the online access code so that is not included. if you're interested in buying please send me an email at: kelsey-klein@uiowa.edu. thanks!"
  						data-created="1.40035398e+12" data-post_id="28374" data-author_id="17027"
  						data-id="29763" data-revision="0">
  							<div class="post-revision-content js-post-revision-content">
  								<a class="post-revision-handle js-post-revision-handle" href="http://localdocker:54615/profile/klkln">
  									klkln
  								</a>
  								<small class="post-revision-timedelta">
  									May 17
  								</small>
  								<div class="post-revision-body markdown markdown-large">
  									<p>
  										if the textbook for this class is the same, i'm willing to sell my binder
  										version. my binder version is still brand new and hasn't been opened. because
  										of that, i'm selling it for $90. i used the online access code so that
  										is not included. if you're interested in buying please send me an email
  										at:
  										<a href="mailto:kelsey-klein@uiowa.edu">
  											kelsey-klein@uiowa.edu
  										</a>
  										. thanks!
  									</p>
  								</div>
  								<ul class="post-revision-actions">
  									<!-- Flunk -->
  									<li class="js-flunkable-link">
  										<a class="js-link js-flunk-link">
  											<i class="icon-heart">
  											</i>
  											<span class="js-action">
  												flunk
  											</span>
  										</a>
  									</li>
  									<!-- Edit/delete -->
  									<li>
  										<a class="js-edit-link" href="#">
  											edit
  										</a>
  									</li>
  									<!-- Flunks Given -->
  									<!-- Flunk -->
  									<li class="flunkable-score js-flunkable-score">
  										<a class="flunkers-link js-flunkers-link" original-title="">
  											0 flunks given
  										</a>
  										<div class="modal flunk-members-modal js-flunk-members-modal">
  											<header class="modal-header">
  												<h2>
  													people who flunked this
  												</h2>
  												<i class="icon-remove simplemodal-close modal-header-close">
  												</i>
  												<div class="clearfix">
  												</div>
  											</header>
  											<section class="modal-body flunkers-list js-flunkers-list">
  												<ol class="js-members">
  												</ol>
  												<a class="show-more js-show-more" href="#">
  													show more
  												</a>
  											</section>
  										</div>
  									</li>
  									<div class="clearfix">
  									</div>
  								</ul>
  								<!-- Attached Files -->
  								<ul class="attached-files js-attached-files">
  									<div class="clearfix">
  									</div>
  								</ul>
  							</div>
  							<div class="post-revision-edit-content edit-post-content js-post-revision-edit-content">
  								<textarea placeholder="Write a post..." autocomplete="off">
  									if the textbook for this class is the same, i'm willing to sell my binder
  									version. my binder version is still brand new and hasn't been opened. because
  									of that, i'm selling it for $90. i used the online access code so that
  									is not included. if you're interested in buying please send me an email
  									at: kelsey-klein@uiowa.edu. thanks!
  								</textarea>
  								<a class="file-upload-link js-file-upload-link" href="#">
  									<i class="icon-paper-clip js-file-upload-icon" original-title="attach notes, past exams, or other materials">
  									</i>
  								</a>
  								<div class="edit-post-content-controls">
  									<label>
  										<input class="js-anonymous" type="checkbox" name="anonymous">
  										anonymous
  									</label>
  									<button class="button-success button-mini js-edit">
  										save
  									</button>
  									<a class="js-cancel" href="#" non-pjax="">
  										cancel
  									</a>
  									<div class="clearfix">
  									</div>
  								</div>
  								<input class="js-upload-file-input" type="file" name="file" multiple="">
  								<!-- Attached Files -->
  								<ul class="attached-files js-attached-files">
  									<div class="clearfix">
  									</div>
  								</ul>
  							</div>
  						</div>
  						<ol class="post-comments js-post-comments">
  							<li class="comment" data-post_id="28374" data-score="0" data-mobile="false"
  							data-anonymous="false" data-created="1.400354155e+12" data-deleted="null"
  							data-author_id="17027" data-unanonymized_author_id="17027" data-id="52889"
  							data-modified="1.406066689e+12" data-len_flunks="0">
  								<ol class="create-content-errors js-edit-comment-errors">
  								</ol>
  								<div class="comment-author js-comment-author">
  									<a class="avatar avatar-small" href="http://localdocker:54615/profile/klkln">
  										<img class="avatar-image" src="http://localdocker:54615/common/img/default_small_avatar.png">
  									</a>
  								</div>
  								<div class="comment-revision js-comment-revision" data-body="That was dope, yo.  Check this out too."
  								data-created="1.406066689e+12" data-comment_id="52889" data-author_id="59"
  								data-id="55194" data-revision="2">
  									<div class="comment-revision-content js-comment-revision-content">
  										<a class="comment-revision-handle js-comment-revision-handle" href="http://localdocker:54615/profile/klkln">
  											klkln
  										</a>
  										<small class="comment-revision-timedelta">
  											May 17
  										</small>
  										<div class="comment-revision-body markdown markdown-small">
  											<p>
  												That was dope, yo. Check this out too.
  											</p>
  										</div>
  										<ul class="comment-revision-actions">
  											<!-- Flunk -->
  											<li class="js-flunkable-link">
  												<a class="js-link js-flunk-link">
  													<i class="icon-heart">
  													</i>
  													<span class="js-action">
  														flunk
  													</span>
  												</a>
  											</li>
  											<!-- Edit/delete -->
  											<li>
  												<a class="js-edit-link" href="#">
  													edit
  												</a>
  											</li>
  											<!-- Flunks Given -->
  											<!-- Flunk -->
  											<li class="flunkable-score js-flunkable-score">
  												<a class="flunkers-link js-flunkers-link" original-title="">
  													0 flunks given
  												</a>
  												<div class="modal flunk-members-modal js-flunk-members-modal">
  													<header class="modal-header">
  														<h2>
  															people who flunked this
  														</h2>
  														<i class="icon-remove simplemodal-close modal-header-close">
  														</i>
  														<div class="clearfix">
  														</div>
  													</header>
  													<section class="modal-body flunkers-list js-flunkers-list">
  														<ol class="js-members">
  														</ol>
  														<a class="show-more js-show-more" href="#">
  															show more
  														</a>
  													</section>
  												</div>
  											</li>
  											<div class="clearfix">
  											</div>
  										</ul>
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  									<div class="comment-revision-edit-content edit-comment-content js-comment-revision-edit-content">
  										<textarea placeholder="Write a comment..." autocomplete="off">
  											That was dope, yo. Check this out too.
  										</textarea>
  										<a class="file-upload-link js-file-upload-link" href="#">
  											<i class="icon-paper-clip js-file-upload-icon" original-title="attach">
  											</i>
  										</a>
  										<div class="edit-comment-content-controls">
  											<label>
  												<input class="js-anonymous" type="checkbox" name="anonymous">
  												anonymous
  											</label>
  											<button class="button-success button-mini js-edit">
  												save
  											</button>
  											<a class="js-cancel" href="#" non-pjax="">
  												cancel
  											</a>
  											<div class="clearfix">
  											</div>
  										</div>
  										<input class="js-upload-file-input" type="file" name="file" multiple="">
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  								</div>
  								<div class="clearfix">
  								</div>
  							</li>
  							<li class="comment" data-post_id="28374" data-score="0" data-mobile="false"
  							data-anonymous="false" data-created="1.405983227e+12" data-deleted="null"
  							data-author_id="59" data-unanonymized_author_id="59" data-id="53229" data-modified="1.406050889e+12"
  							data-len_flunks="0">
  								<ol class="create-content-errors js-edit-comment-errors">
  								</ol>
  								<div class="comment-author js-comment-author">
  									<a class="avatar avatar-small" href="http://localdocker:54615/profile/jayd3e">
  										<img class="fab-icon" src="http://localdocker:54615/common/img/fabicons/celeb_crown.png">
  										<img class="avatar-current-user avatar-image" src="https://s3.amazonaws.com/clusterflunk_dev/static/img/avatars/59/small">
  									</a>
  								</div>
  								<div class="comment-revision js-comment-revision" data-body="This is a cool comment yo. asdf"
  								data-created="1.406050889e+12" data-comment_id="53229" data-author_id="59"
  								data-id="55191" data-revision="1">
  									<div class="comment-revision-content js-comment-revision-content">
  										<a class="comment-revision-handle js-comment-revision-handle" href="http://localdocker:54615/profile/jayd3e">
  											jayd3e
  										</a>
  										<small class="comment-revision-timedelta">
  											1d
  										</small>
  										<div class="comment-revision-body markdown markdown-small">
  											<p>
  												This is a cool comment yo. asdf
  											</p>
  										</div>
  										<ul class="comment-revision-actions">
  											<!-- Flunk -->
  											<!-- Edit/delete -->
  											<li>
  												<a class="js-edit-link" href="#">
  													edit
  												</a>
  											</li>
  											<!-- Flunks Given -->
  											<!-- Flunk -->
  											<li class="flunkable-score js-flunkable-score">
  												<a class="flunkers-link js-flunkers-link" original-title="">
  													0 flunks given
  												</a>
  												<div class="modal flunk-members-modal js-flunk-members-modal">
  													<header class="modal-header">
  														<h2>
  															people who flunked this
  														</h2>
  														<i class="icon-remove simplemodal-close modal-header-close">
  														</i>
  														<div class="clearfix">
  														</div>
  													</header>
  													<section class="modal-body flunkers-list js-flunkers-list">
  														<ol class="js-members">
  														</ol>
  														<a class="show-more js-show-more" href="#">
  															show more
  														</a>
  													</section>
  												</div>
  											</li>
  											<div class="clearfix">
  											</div>
  										</ul>
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  									<div class="comment-revision-edit-content edit-comment-content js-comment-revision-edit-content">
  										<textarea placeholder="Write a comment..." autocomplete="off">
  											This is a cool comment yo. asdf
  										</textarea>
  										<a class="file-upload-link js-file-upload-link" href="#">
  											<i class="icon-paper-clip js-file-upload-icon" original-title="attach">
  											</i>
  										</a>
  										<div class="edit-comment-content-controls">
  											<label>
  												<input class="js-anonymous" type="checkbox" name="anonymous">
  												anonymous
  											</label>
  											<button class="button-success button-mini js-edit">
  												save
  											</button>
  											<a class="js-cancel" href="#" non-pjax="">
  												cancel
  											</a>
  											<div class="clearfix">
  											</div>
  										</div>
  										<input class="js-upload-file-input" type="file" name="file" multiple="">
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  								</div>
  								<div class="clearfix">
  								</div>
  							</li>
  							<ol class="create-content-errors js-add-comment-errors">
  							</ol>
  							<form class="add-comment js-add-comment
  							">
  								<div class="add-comment-author avatar avatar-small">
  									<img class="fab-icon" src="http://localdocker:54615/common/img/fabicons/celeb_crown.png">
  									<img class="avatar-current-user avatar-image" src="https://s3.amazonaws.com/clusterflunk_dev/static/img/avatars/59/small">
  								</div>
  								<div class="create-comment-content">
  									<div class="create-comment-content-controls">
  										<textarea placeholder="Reply to this post..." autocomplete="off" rows="1">
  										</textarea>
  										<a class="file-upload-link js-file-upload-link" href="#">
  											<i class="icon-paper-clip js-file-upload-icon" original-title="attach">
  											</i>
  										</a>
  										<i class="icon-question-sign js-formatting-help" original-title="formatting help">
  										</i>
  										<button class="button-mini button-success js-save">
  											reply
  										</button>
  										<label>
  											<input class="js-anonymous" type="checkbox" name="anonymous">
  											anonymous
  										</label>
  										<div class="clearfix">
  										</div>
  									</div>
  									<input class="js-upload-file-input" type="file" name="file" multiple="">
  									<!-- Attached Files -->
  									<ul class="attached-files js-attached-files">
  										<div class="clearfix">
  										</div>
  									</ul>
  								</div>
  							</form>
  						</ol>
  					</li>
  					<li class="post js-post" data-deleted="null" data-anonymous="true" data-course_id="3272"
  					data-id="26380" data-created="1.400004543e+12" data-mobile="false" data-unanonymized_author_id="6465"
  					data-modified="1.400004543e+12" data-comment_count="null" data-score="0"
  					data-author_id="1611">
  						<ol class="create-content-errors js-edit-post-errors">
  						</ol>
  						<div class="post-author js-post-author">
  							<span class="avatar avatar-large">
  								<img class="avatar-image" src="http://localdocker:54615/common/img/default_large_avatar.png">
  							</span>
  						</div>
  						<div class="post-revision js-post-revision" data-body="What was the answer to this question?
  						-At what age to children acquire adult language?
  						The options were 2,4,6 and 10 I believe" data-created="1.400004543e+12"
  						data-post_id="26380" data-author_id="6465" data-id="27693" data-revision="0">
  							<div class="post-revision-content js-post-revision-content">
  								<a class="post-revision-handle">
  									anonymous
  								</a>
  								<small class="post-revision-timedelta">
  									May 13
  								</small>
  								<div class="post-revision-body markdown markdown-large">
  									<p>
  										What was the answer to this question? -At what age to children acquire
  										adult language? The options were 2,4,6 and 10 I believe
  									</p>
  								</div>
  								<ul class="post-revision-actions">
  									<!-- Flunk -->
  									<li class="js-flunkable-link">
  										<a class="js-link js-flunk-link">
  											<i class="icon-heart">
  											</i>
  											<span class="js-action">
  												flunk
  											</span>
  										</a>
  									</li>
  									<!-- Edit/delete -->
  									<li>
  										<a class="js-edit-link" href="#">
  											edit
  										</a>
  									</li>
  									<!-- Flunks Given -->
  									<!-- Flunk -->
  									<li class="flunkable-score js-flunkable-score">
  										<a class="flunkers-link js-flunkers-link" original-title="">
  											0 flunks given
  										</a>
  										<div class="modal flunk-members-modal js-flunk-members-modal">
  											<header class="modal-header">
  												<h2>
  													people who flunked this
  												</h2>
  												<i class="icon-remove simplemodal-close modal-header-close">
  												</i>
  												<div class="clearfix">
  												</div>
  											</header>
  											<section class="modal-body flunkers-list js-flunkers-list">
  												<ol class="js-members">
  												</ol>
  												<a class="show-more js-show-more" href="#">
  													show more
  												</a>
  											</section>
  										</div>
  									</li>
  									<div class="clearfix">
  									</div>
  								</ul>
  								<!-- Attached Files -->
  								<ul class="attached-files js-attached-files">
  									<div class="clearfix">
  									</div>
  								</ul>
  							</div>
  							<div class="post-revision-edit-content edit-post-content js-post-revision-edit-content">
  								<textarea placeholder="Write a post..." autocomplete="off">
  									What was the answer to this question? -At what age to children acquire
  									adult language? The options were 2,4,6 and 10 I believe
  								</textarea>
  								<a class="file-upload-link js-file-upload-link" href="#">
  									<i class="icon-paper-clip js-file-upload-icon" original-title="attach notes, past exams, or other materials">
  									</i>
  								</a>
  								<div class="edit-post-content-controls">
  									<label>
  										<input class="js-anonymous" type="checkbox" checked="checked" name="anonymous">
  										anonymous
  									</label>
  									<button class="button-success button-mini js-edit">
  										save
  									</button>
  									<a class="js-cancel" href="#" non-pjax="">
  										cancel
  									</a>
  									<div class="clearfix">
  									</div>
  								</div>
  								<input class="js-upload-file-input" type="file" name="file" multiple="">
  								<!-- Attached Files -->
  								<ul class="attached-files js-attached-files">
  									<div class="clearfix">
  									</div>
  								</ul>
  							</div>
  						</div>
  						<ol class="post-comments js-post-comments">
  							<li class="comment" data-post_id="26380" data-score="1" data-mobile="false"
  							data-anonymous="true" data-created="1.400005082e+12" data-deleted="null"
  							data-author_id="1611" data-unanonymized_author_id="7794" data-id="48696"
  							data-modified="1.400005082e+12" data-len_flunks="1">
  								<ol class="create-content-errors js-edit-comment-errors">
  								</ol>
  								<div class="comment-author js-comment-author">
  									<span class="avatar avatar-small">
  										<img class="avatar-image" src="http://localdocker:54615/common/img/default_small_avatar.png">
  									</span>
  								</div>
  								<div class="comment-revision js-comment-revision" data-body="6 duhhh"
  								data-created="1.400005082e+12" data-comment_id="48696" data-author_id="7794"
  								data-id="50480" data-revision="0">
  									<div class="comment-revision-content js-comment-revision-content">
  										<a class="comment-revision-handle">
  											anonymous
  										</a>
  										<small class="comment-revision-timedelta">
  											May 13
  										</small>
  										<div class="comment-revision-body markdown markdown-small">
  											<p>
  												6 duhhh
  											</p>
  										</div>
  										<ul class="comment-revision-actions">
  											<!-- Flunk -->
  											<li class="js-flunkable-link">
  												<a class="js-link js-flunk-link">
  													<i class="icon-heart">
  													</i>
  													<span class="js-action">
  														flunk
  													</span>
  												</a>
  											</li>
  											<!-- Edit/delete -->
  											<li>
  												<a class="js-edit-link" href="#">
  													edit
  												</a>
  											</li>
  											<!-- Flunks Given -->
  											<!-- Flunk -->
  											<li class="flunkable-score js-flunkable-score">
  												<a class="flunkers-link js-flunkers-link" original-title="">
  													1 flunks given
  												</a>
  												<div class="modal flunk-members-modal js-flunk-members-modal">
  													<header class="modal-header">
  														<h2>
  															people who flunked this
  														</h2>
  														<i class="icon-remove simplemodal-close modal-header-close">
  														</i>
  														<div class="clearfix">
  														</div>
  													</header>
  													<section class="modal-body flunkers-list js-flunkers-list">
  														<ol class="js-members">
  														</ol>
  														<a class="show-more js-show-more" href="#">
  															show more
  														</a>
  													</section>
  												</div>
  											</li>
  											<div class="clearfix">
  											</div>
  										</ul>
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  									<div class="comment-revision-edit-content edit-comment-content js-comment-revision-edit-content">
  										<textarea placeholder="Write a comment..." autocomplete="off">
  											6 duhhh
  										</textarea>
  										<a class="file-upload-link js-file-upload-link" href="#">
  											<i class="icon-paper-clip js-file-upload-icon" original-title="attach">
  											</i>
  										</a>
  										<div class="edit-comment-content-controls">
  											<label>
  												<input class="js-anonymous" type="checkbox" checked="checked" name="anonymous">
  												anonymous
  											</label>
  											<button class="button-success button-mini js-edit">
  												save
  											</button>
  											<a class="js-cancel" href="#" non-pjax="">
  												cancel
  											</a>
  											<div class="clearfix">
  											</div>
  										</div>
  										<input class="js-upload-file-input" type="file" name="file" multiple="">
  										<!-- Attached Files -->
  										<ul class="attached-files js-attached-files">
  											<div class="clearfix">
  											</div>
  										</ul>
  									</div>
  								</div>
  								<div class="clearfix">
  								</div>
  							</li>
  							<ol class="create-content-errors js-add-comment-errors">
  							</ol>
  							<form class="add-comment js-add-comment
  							">
  								<div class="add-comment-author avatar avatar-small">
  									<img class="fab-icon" src="http://localdocker:54615/common/img/fabicons/celeb_crown.png">
  									<img class="avatar-current-user avatar-image" src="https://s3.amazonaws.com/clusterflunk_dev/static/img/avatars/59/small">
  								</div>
  								<div class="create-comment-content">
  									<div class="create-comment-content-controls">
  										<textarea placeholder="Reply to this post..." autocomplete="off" rows="1">
  										</textarea>
  										<a class="file-upload-link js-file-upload-link" href="#">
  											<i class="icon-paper-clip js-file-upload-icon" original-title="attach">
  											</i>
  										</a>
  										<i class="icon-question-sign js-formatting-help" original-title="formatting help">
  										</i>
  										<button class="button-mini button-success js-save">
  											reply
  										</button>
  										<label>
  											<input class="js-anonymous" type="checkbox" name="anonymous">
  											anonymous
  										</label>
  										<div class="clearfix">
  										</div>
  									</div>
  									<input class="js-upload-file-input" type="file" name="file" multiple="">
  									<!-- Attached Files -->
  									<ul class="attached-files js-attached-files">
  										<div class="clearfix">
  										</div>
  									</ul>
  								</div>
  							</form>
  						</ol>
  					</li>
  				</ol>
  				<div class="no-results js-no-results" style="display: none;">
  					no posts yet
  				</div>
  				<div class="loading js-loading">
  					<img class="spinner js-spinner" src="http://localdocker:54615/common/img/spinner.gif">
  					<div class="message js-message">
  					</div>
  				</div>
  			</section>
  			<section class="course-sidebar">
  				<section class="course-files js-course-files">
  					<header class="course-files-header">
  						<h4>
  							files
  						</h4>
  						<div class="clearfix">
  						</div>
  					</header>
  					<ol class="js-files">
  						<li class="file js-file" data-unique_hash="dfd4b5c596e117a65a806491048c28cde5eab606"
  						data-name="Psych Study Guide" data-extension="docx" data-created="1.383669107e+12"
  						data-url="https://clusterflunk.s3.amazonaws.com/files/3205/posts/3375/2961"
  						data-comment_id="null" data-deleted="null" data-tag_category="4" data-post_id="3375"
  						data-mobile="null" data-key="files/3205/posts/3375/2961" data-anonymous="false"
  						data-course_id="3272" data-author_id="3205" data-unanonymized_author_id="3205"
  						data-type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
  						data-id="2961" data-size="128798">
  							<i class="file-icon-docx file-icon-large">
  							</i>
  							<div class="file-content">
  								<span class="file-name js-file-name">
  									<a non-pjax="" class="file-link js-file-link" href="http://localdocker:54615/api/1/files/dfd4b5c596e117a65a806491048c28cde5eab606">
  										Psych Study Guide
  									</a>
  								</span>
  								<ul class="file-meta">
  									<li>
  										176
  										<i class="icon-download-alt">
  										</i>
  									</li>
  								</ul>
  							</div>
  							<div class="clearfix">
  							</div>
  						</li>
  					</ol>
  					<a class="show-more js-show-more" href="#" style="display: inline-block;">
  						show more
  					</a>
  					<div class="no-results js-no-results">
  						no files yet
  					</div>
  				</section>
  				<section class="course-members js-course-members">
  					<header class="course-members-header js-course-members-header">
  						<h4>
  							classmates
  						</h4>
  						<div class="clearfix">
  						</div>
  					</header>
  					<ol class="js-members">
  						<li class="js-member member" data-username="jayd3e" data-preferred_email="jayd3e@clusterflunk.com"
  						data-cached_avatar_set="null" data-auth_user_id="59" data-active_network_id="1"
  						data-created="1.354548081e+12" data-deleted="null" data-email_verified="null"
  						data-facebook_auth_user_id="11853" data-avatar_set="true" data-last_online="1.406136617e+12"
  						data-allow_comment_emails="true" data-allow_post_emails="true" data-twitter_auth_user_id="null"
  						data-id="59" data-network_email="jayd3e@clusterflunk.com_1" data-fab_icon_url="clusterassets:static/img/fabicons/celeb_crown.png">
  							<div class="member-avatar">
  								<a class="avatar avatar-medium" href="http://localdocker:54615/profile/jayd3e">
  									<img class="fab-icon" src="http://localdocker:54615/common/img/fabicons/celeb_crown.png">
  									<img class="avatar-current-user avatar-image" src="https://s3.amazonaws.com/clusterflunk_dev/static/img/avatars/59/medium">
  								</a>
  							</div>
  							<div class="member-content js-member-content">
  								<div class="member-handle">
  									<a href="http://localdocker:54615/profile/jayd3e">
  										jayd3e
  									</a>
  								</div>
  								<small class="member-content-last-online js-member-content-last-online is-online">
  									online now
  								</small>
  							</div>
  							<div class="clearfix">
  							</div>
  						</li>
  						<li class="js-member member" data-username="brandons" data-preferred_email="null"
  						data-cached_avatar_set="false" data-auth_user_id="36393" data-active_network_id="1"
  						data-created="1.400520011e+12" data-deleted="null" data-email_verified="false"
  						data-facebook_auth_user_id="null" data-avatar_set="false" data-last_online="1.400520351e+12"
  						data-allow_comment_emails="true" data-allow_post_emails="true" data-twitter_auth_user_id="null"
  						data-id="48731" data-network_email="brandons@uiowa.edu" data-fab_icon_url="null">
  							<div class="member-avatar">
  								<a class="avatar avatar-medium" href="http://localdocker:54615/profile/brandons">
  									<img class="avatar-image" src="http://localdocker:54615/common/img/default_medium_avatar.png">
  								</a>
  							</div>
  							<div class="member-content js-member-content">
  								<div class="member-handle">
  									<a href="http://localdocker:54615/profile/brandons">
  										brandons
  									</a>
  								</div>
  								<small class="member-content-last-online js-member-content-last-online">
  									last online 2 months ago
  								</small>
  							</div>
  							<div class="clearfix">
  							</div>
  						</li>
  					</ol>
  				</section>
  			</section>
  			<div class="clearfix">
  			</div>
  		</section>
  		<div class="clearfix">
  		</div>
  	</div>
  </div>
</div>
